<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        type="text"
        placeholder="add title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter a post title of at least 5 characters.</mat-error
      >
    </mat-form-field>
    <!-- file upload -->
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>

    <!-- image preview -->
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        rows="6"
        placeholder="add content..."
      >
      </textarea>
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter content of at least 10 characters.</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
<hr />
